# Compilados (Bytecode)
*.class
*.jar
*.war
*.ear

# Pastas de build
bin/
build/
target/
out/

# Configurações de IDEs
.settings/
.project
.classpath
.idea/
*.iml
*.iws
.vscode/
.factorypath

# Logs e arquivos temporários
*.log
tmp/
